In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('subscribers.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227628 entries, 0 to 227627
Data columns (total 31 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    227628 non-null  int64
 1   subid                         227628 non-null  int64
 2   package_type                  192054 non-null  object
 3   num_weekly_services_utilized  117178 non-null  float64
 4   preferred_genre               191302 non-null  object
 5   intended_use                  224079 non-null  object
 6   weekly_consumption_hour       189698 non-null  float64
 7   num_ideal_streaming_services  115458 non-null  float64
 8   age                           192459 non-null  float64
 9   male_TF                       227359 non-null  object
 10  country                       227628 non-null  object
 11  attribution_technical         227628 non-null  object
 12  attribution_survey            224984 non-null  object
 13  op_sys                        214253 non-null  object
 14  months_per_bill_period        227628 non-null  int64
 15  plan_type                     227628 non-null  object
 16  monthly_price                 227628 non-null  float64
 17  discount_price                227628 non-null  float64
 18  account_creation_date         227628 non-null  object
 19  trial_end_date                227628 non-null  object
 20  initial_credit_card_declined  227628 non-null  bool
 21  join_fee                      192724 non-null  float64
 22  language                      227628 non-null  object
 23  payment_type                  92050 non-null   object
 24  num_trial_days                227628 non-null  int64
 25  current_sub_TF                227628 non-null  bool
 26  payment_period                227628 non-null  int64
 27  last_payment                  132237 non-null  object
 28  next_payment                  130250 non-null  object
 29  cancel_date                   36831 non-null   object
 30  trial_completed               227628 non-null  bool
dtypes: bool(3), float64(7), int64(5), object(16)
memory usage: 49.3+ MB

In [37]:
df.head()

,Unnamed: 0,subid,package_type,num_weekly_services_utilized,preferred_genre,intended_use,weekly_consumption_hour,num_ideal_streaming_services,age,male_TF,...,join_fee,language,payment_type,num_trial_days,current_sub_TF,payment_period,last_payment,next_payment,cancel_date,trial_completed
0,162502,21724479,economy,NaN,comedy,access to exclusive content,NaN,NaN,NaN,False,...,NaN,ar,Standard Charter,14,True,1,2020-02-07 21:44:16,2020-06-07 21:44:16,NaN,True
1,380374,23383224,base,NaN,comedy,access to exclusive content,22.951579,NaN,70.0,False,...,0.3303,ar,NaN,14,True,1,2020-03-15 15:44:35,2020-07-15 15:44:35,NaN,True
2,496617,26844789,enhanced,3.0,regional,replace OTT,36.001186,2.0,25.0,True,...,0.1101,ar,NaN,14,False,0,NaN,NaN,NaN,True
3,356799,29417030,base,NaN,drama,replace OTT,20.051667,NaN,30.0,False,...,0.0367,ar,NaN,14,False,0,NaN,NaN,NaN,True
4,681701,26723159,base,4.0,comedy,replace OTT,22.951579,3.0,28.0,False,...,0.0367,ar,NaN,14,True,2,2020-02-19 12:57:07,2020-06-19 12:57:07,NaN,True

In [15]:
df['last_payment'].head(30)

0     2020-02-07 21:44:16
1     2020-03-15 15:44:35
2                     NaN
3                     NaN
4     2020-02-19 12:57:07
5     2020-03-17 20:15:43
6     2020-03-04 18:30:15
7     2020-03-19 14:52:22
8     2020-03-08 17:50:25
9                     NaN
10    2019-07-25 16:00:42
11    2019-12-15 07:29:14
12                    NaN
13                    NaN
14                    NaN
15    2020-03-23 03:09:57
16    2020-02-16 00:15:01
17                    NaN
18    2020-01-28 22:14:26
19                    NaN
20    2020-03-25 03:19:28
21    2020-03-17 17:33:57
22                    NaN
23                    NaN
24    2020-03-23 20:12:26
25                    NaN
26                    NaN
27    2020-03-22 20:42:05
28                    NaN
29    2020-02-22 05:49:40
Name: last_payment, dtype: object

In [16]:
df['next_payment'].head(30)

0     2020-06-07 21:44:16
1     2020-07-15 15:44:35
2                     NaN
3                     NaN
4     2020-06-19 12:57:07
5     2020-07-17 20:15:43
6     2020-07-04 18:30:15
7     2020-07-19 14:52:22
8     2020-07-08 17:50:25
9                     NaN
10                    NaN
11    2020-04-15 07:29:14
12                    NaN
13                    NaN
14                    NaN
15    2020-07-23 03:09:57
16    2020-06-16 00:15:01
17                    NaN
18    2020-05-28 22:14:26
19                    NaN
20    2020-07-25 03:19:28
21    2020-07-17 17:33:57
22                    NaN
23                    NaN
24    2020-07-23 20:12:26
25                    NaN
26    2020-04-01 23:06:25
27    2020-07-22 20:42:05
28                    NaN
29    2020-06-22 05:49:40
Name: next_payment, dtype: object

In [17]:
df_channel = pd.read_csv('channel_spend_graduate.csv')

In [18]:
df_channel.head()

    channel    date  spend_AED
0      bing  201907        400
1   display  201907         12
2  facebook  201907       9000
3    search  201907      13000
4   youtube  201907         90

In [19]:
df_channel['channel'].unique()

array(['bing', 'display', 'facebook', 'search', 'youtube'], dtype=object)

In [32]:
df_channel_bing = df_channel[df_channel['channel']=='bing']
df_channel_display = df_channel[df_channel['channel']=='display']
df_channel_facebook = df_channel[df_channel['channel']=='facebook']
df_channel_search = df_channel[df_channel['channel']=='search']
df_channel_youtube = df_channel[df_channel['channel']=='youtube']

In [35]:
spending_bing = df_channel_bing['spend_AED'].sum()
spending_display = df_channel_display['spend_AED'].sum()
spending_facebook = df_channel_facebook['spend_AED'].sum()
spending_search = df_channel_search['spend_AED'].sum()
spending_youtube = df_channel_youtube['spend_AED'].sum()

In [36]:
print(spending_bing,spending_display,spending_facebook,spending_search,spending_youtube)

10800 366 113500 222500 8730

In [40]:
df['preferred_genre'].unique()

array(['comedy', 'regional', 'drama', nan, 'other', 'international'],
      dtype=object)

In [41]:
df['preferred_genre'].value_counts()

comedy           125129
drama             46872
regional           8990
international      6404
other              3907
Name: preferred_genre, dtype: int64

In [42]:
df['age'].value_counts()

50.0        6355
40.0        5509
60.0        5221
48.0        4651
47.0        4517
            ...
11955.0        1
360.0          1
4217.0         1
761943.0       1
16.0           1
Name: age, Length: 278, dtype: int64

In [43]:
df = df.loc[df['age']<=100]

In [44]:
df['age'].value_counts()

50.000000    6355
40.000000    5509
60.000000    5221
48.000000    4651
47.000000    4517
             ...
74.390053       1
68.814363       1
56.515428       1
42.359666       1
48.412421       1
Name: age, Length: 100, dtype: int64

In [47]:
age_1 = df.loc[df['age']<=20].shape[0]
age_2 = df.loc[(df['age']<=40) & (df['age']>20)].shape[0]
age_3 = df.loc[(df['age']<=60) & (df['age']>40)].shape[0]
age_4 = df.loc[(df['age']<=80) & (df['age']>60)].shape[0]
age_5 = df.loc[(df['age']<=100) & (df['age']>80)].shape[0]

In [48]:
print(age_1,age_2,age_3,age_4,age_5)

3416 68078 87573 32107 397

In [49]:
df['num_trial_days'].unique()

array([14,  0])

In [51]:
df['monthly_price'].value_counts()

4.7343    191045
5.1013       325
1.0643       166
4.4407        18
4.3673        12
4.0003         2
0.8074         1
1.1744         1
4.6976         1
Name: monthly_price, dtype: int64

In [52]:
df['plan_type'].value_counts()

base_uae_14_day_trial                191040
high_uae_14_day_trial                   325
low_uae_no_trial                        166
base_eur_14_day_trial                    18
high_sar_14_day_trial                    12
low_gbp_14_day_trial                      4
high_aud_14_day_trial                     2
high_jpy_14_day_trial                     1
low_eur_no_trial                          1
low_sar_no_trial                          1
base_uae_no_trial_7_day_guarantee         1
Name: plan_type, dtype: int64